<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460515134031-1cbso0mkc28o9bkelfav3922nkcseme0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460515134031-1cbso0mkc28o9bkelfav3922nkcseme0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>460515134031-tg8k4vm2tsh9v4jvc0ie8tthml138r1h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBWeF_22TYbBUbVyHKGLeMJpkgTVklgwg</string>
	<key>GCM_SENDER_ID</key>
	<string>460515134031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icon.iconapplication</string>
	<key>PROJECT_ID</key>
	<string>icon-a61b8</string>
	<key>STORAGE_BUCKET</key>
	<string>icon-a61b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460515134031:ios:94939626831addc1b5b83a</string>
	<key>DATABASE_URL</key>
	<string>https://icon-a61b8.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5806212644011393~2519444879</string>
</dict>
</plist>